.header{
	color: blue;
	background-color: white;
	text-align: center;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: auto;
	padding: 0px;
	float: top;
}

.content_area {
	color: white;
	background-color: black;
	padding: 0px;
	border: 1px dotted #ffffff;
	margin: auto;
	margin-left: 170px;
	width: auto;
	height: auto;
}

.sidebar{
	background-color: white;
	text-align: left;
	color: black;
	font-weight: bold;
	margin: 10px;
	width: 150px;
	height: auto;
	padding: 0px;
	border: 1px dotted #ff0000;
	float: left;
}

.footer{
	background-color: rgb(51,25,0);
	text-align: center;
	margin-top: auto;
	margin-bottom: 5px;
	margin-right: 10px;
	margin-left: auto;
	color: blue;
	height: 50px;
	padding: 0px;
	width: 300px;
	float: bottom;
}

span{
   color: Blue; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

.link:hover{
	background-color: red;
	color: blue;
}

.image {
	position: relative;
	width: 100%
}

h2 {
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
}

